<h1>Post your Reca</h1>
<form>
	<input type="hidden" name="referrer">
	Name: <input type="text" id="fieldName" name="name"><br>
	Reca: <input type="text" name="Post your reca"><br>
	Email: <input type="email" name="email"><br>
	<input type="submit" value="Submit">
</form>

<script>
	$(document).ready(function(){
	$('input[name="referrer"]').val(document.referrer);
});
</script>