<h1>Welcome to Recapoom</h1>
<form action="/process method="POST">
	<input type="hidden" name="hush" val="hidden, but not secret!">
	<div>
		<label for="Username">Username: </label>
		<input type="text" id="Usern" name="username">
	</div>
	<div>
		<label for="Password">Password: </label>
		<input type="text" id="Passw" name="password">
	</div>
	<div>
		<button type="submit">Get in</button>
	</div>
</form>