<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Recapoom</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!--<link rel="shortcut icon" type='image/x-icon' href="/favicon.ico" /> -->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/opening.css">
        <script src="/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <p>Image courtesy : <a href = "https://web.facebook.com/tech.rishabh?fref=ts">Risabh Singh</a>    
            <div id="appicons">
                <p class="appiconblock">
                    Get the App </br> <a href= "#"> <img src="/img/iOSlogo.png" style="width:117px;height:35px;"></a> <a href= "#"> <img src="/img/playstorelogo.png" style="width:117px;height:35px;"></a>
                </p>
            </div>
        </header>

        <div id="recalogo">
            <img src="/img/logo.png" alt="Recapoom" style="width:304px;height:65px;">
        </div>    
        
        <div id="caption">
            <p style="color: white;"> Want to go back to your good past? </p>
        </div>
        
        <form action="/process method="POST">
        <input type="hidden" name="hush" val="hidden, but not secret!">
        <div>
            <label for="Username">Username: </label>
            <input type="text" id="Usern" name="username">
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="text" id="Passw" name="password">
        </div>
        <div>
            <button type="submit">Get in</button>
        </div>
        </form>

        <footer>&copy; 2016 Recapoom</footer>

        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
            <script>mocha.run();</script>
        {{/if}}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
